@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';

body{
    margin: 0;
    box-sizing: border-box;
    background-color: #EEE4D4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding-bottom: 7%;
    font-family: 'Playfair Display', serif;
}


.allQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding: 20px;
    background-color: #c3e8bd;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.que1 {
    padding: 0;
}
.allQuestions h3 {
    font-size: 1.5rem;
    color: #4c956c;
    text-align: center;
    margin-bottom: 20px;
  }
.allQuestions form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.allQuestions label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4c956c;
    font-size: 1.2rem;
  }
.allQuestions input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4c956c;
    width: 150%;
  }
.allQuestions input:focus {
    outline: none;
    border: 2px solid #7fbb87;
  }
.allQuestions input::placeholder {
    color: #7fbb87;
  }

.allQuestions textarea{
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4c956c;
    width: 70%;
    height: 3rem;
}
.que1 button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #7fbb87;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
.que1 button:hover {
    transform: scale(1.1);
    background-color: #5f8e64;
  }

.que6{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.que6 img{
    margin: 0px 10px;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
.que61{
    display: flex;
    align-items: center;
}
.que61 input{
    margin: 0;
    border-radius: 5px;
    border: 1px solid #4c956c;
}
.que61 p{
    margin: 0px;
}

.que10{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.que10 input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4c956c;
    width: 90%;
}

.que11{
    padding: 0;
    display: flex;
    flex-direction: column;
}

.que11 textarea{
    margin: auto;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4c956c;
    width: 50%;
    height: 1rem;
}