body{
    margin: 0;
    box-sizing: border-box;
    background-color: #EEE4D4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding-bottom: 7%;
}

.queStart{
    height: 80vmin;
    width: 80vmin;
    background-image: url("./images/drDiet.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hding{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    color: #b38888;
    margin-bottom: 10%;
}

.btnStart {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.5rem;
    background-color: #7f9475;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btnStart:hover {
    transform: scale(1.1);
    background-color: #5f734d;
}
